<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>You have been logged out click to return to home page</h1>
        <button class="btn btn-success" type="submit" value="submit" href="/home">
            Home
        </button>

    </div>
    </body>
    