<div id="form">
    <p>Please login to your account</p>
    <hr/>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="form_username">Username</label>
        <input id="form_username" type="text" name="username" />
      </div>
      <div class="form-group">
        <label for="form_password">Password</label>
        <input id="form_password" type="password" name="password" />
      </div>
      <button class="btn btn-primary btn-block" type="submit" value="Submit">Connect</button>
    </form>
    <hr/>
    <button class="btn btn-success btn-block" type="submit" href="/signup" onClick='document.location.href="/signup"'>
      Create an account
    </button>
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
        Logout
      </button>
  </div>